@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  color: #000814;
}

/* input fields style */
.inputFiedls {
  @apply w-full border-b border-[#212121] py-2 px-3 focus:outline-none focus:border-b focus:border-[#333333] focus:ring-0;
}

/* react phone num input */
.PhoneInputInput {
  outline: none;
}

/* swiper pagination */
.swiper-pagination {
  position: relative;
  bottom: -5px !important;
}

.drawer-li > li {
  font-size: 14px;
  font-weight: 500;
}
.custom-footer {
  color: white;
}

.primary-button {
  @apply inline-flex items-center justify-center capitalize lg:text-base lg:px-6 md:px-4 px-3 lg:py-3 py-2 font-medium text-white transition hover:drop-shadow-2xl rounded border-none shadow-xl md:mb-0 bg-[#4D4376] hover:bg-[#5E548E] duration-700;
}

.disabled-button {
  @apply inline-flex items-center justify-center capitalize lg:text-base lg:px-6 md:px-4 px-3 lg:py-3 py-2 font-medium text-white transition rounded border-none shadow-xl md:mb-0 bg-[#ddd] duration-700 cursor-not-allowed;
}
